* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }

  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
:root{
    --background-color--: #e9ebec;
    --secondary-background-color--: #fff;
    --hover-background-color--: #fbd144;
    --font-color--: #3d3d3d:
}

.dark{
    --background-color--: #0c151d;
    --secondary-background-color--: #171f26;
    --hover-background-color--: #ffe071;
    --font-color--: #a3abb2;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color--);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.content{
    flex: 1 1 auto;
    padding: 0 20px;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;
}

.header{
    margin: 0 0 50px 0;
}

.fa-moon{
    color: var(--font-color--);
}
i{
    color: var(--font-color--);
}
i:hover{
    opacity: 0.8;
}

.theme__header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-background-color--);
    margin: 20px auto;
    cursor: pointer;
}

/* ABOUT */

.face-image{
    width: 215px;
    height: 215px;
    border-radius: 50%;
    border: 4px solid #f7d039;
    background: url('./img/face.png') center no-repeat;
    size: 192px 192px;
    transition: border .3s ease;
}
.face-image:hover{
    border: 4px solid #ff7300;
}

.about{
    margin: 0 0 50px 0;
}

.about .container{
    width: 100%;
    max-width: 630px;
    padding: 0;
}

.upper-part__about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 50px 0;
}
.info__about{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 22px;
    line-height: normal;
    font-weight: 500;
    color: var(--font-color--);
    margin: 0 0 50px 0;
}

.buttons__about{
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    font-size: 22px;
    font-weight: 500;
    color: var(--font-color--);
    letter-spacing: -0.5px;
    height: 70px;
    width: 100%;
    max-width: 350px;
    min-width: 195px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background .4s ease;
}
.btn:hover{
    background-color: var(--hover-background-color--);
}
.fa-floppy-disk{
    margin: 0 0 0 10px;
    color: var(--font-color--);
}
.download-button{
    margin-right: 10px;
    background-color: var(--secondary-background-color--);
}
.contact-button{
    margin-left: 10px;
    background-color: var(--secondary-background-color--);
}

.info__about span{
    font-size: 24px;
    color: var(--font-color--);
}
.info-block__about{
    max-width: 160px;
    margin: 0 15px;
}
.info-block__about:nth-child(1){
    min-width: 125px;
}
.main__about{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.name{
    font-size: 46px;
    font-weight: 500;
    color: var(--font-color--);
}
.job{
    font-size: 22px;
    font-weight: 500;
    color: var(--font-color--);
}

.media{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

/* NAVIGATION */

.navigation{
    margin: 0 0 50px 0;
}

.navigation .container{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-background-color--);
    padding: 15px 20px;
    border-radius: 20px;
}

.nav-btn{
    flex: 1 1 50%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: var(--font-color--);
    transition: background .4s ease;
    background-color: var(--secondary-background-color--);
}
.active{
    background-color: var(--background-color--);
}

/* PROJECTS */

img{
    width: 100%;
}

.portfolio__page{
    display: none;
    margin-bottom: 50px;
}

.portfolio__page .container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.project-wrapper{
    border-radius: 15px;
    flex: 1 1 48%;
}

.show{
    display: block;
}

/* SKILLS */

.skills__page{
    display: none;
}

/* FOOTER */

.footer{
    height: 100px;
    background-color: var(--background-color--);
}
.footer .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__footer{
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--font-color--);
    font-weight: 500;
}

/* MEDIA */

@media screen and (max-width: 767px){
    .upper-part__about{
        flex-direction: column;
        text-align: center;
    }
    .face-image{
        margin: 0 0 50px 0;
    }
    .media{
        margin: 0 auto;
    }
    .navigation .container{
        padding: 15px;
    }
    .navigation .container button{
        padding: 10px;
        font-size: 18px;
    }
}
@media screen and (max-width: 581px){
    .info__about{
        font-size: 18px;
    }
    .info-block__about{
        margin: 0 5px;
    }
    .btn{
        font-size: 16px;
        min-width: 150px;
    }
    .footer{
        height: 80px;
    }
}
@media screen and (max-width: 420px){
    .info__about{
        font-size: 14px;
    }
    .info-block__about{
        margin: 0 5px;
    }
    .info-block__about:nth-child(1){
        min-width: 100px;
        margin: 0 5px;
    }
    .btn{
        min-width: 140px;
    }
    .text__footer{
        font-size: 11px;
    }
    .navigation .container{
        padding: 10px;
    }
    .footer{
        height: 60px;
    }
    .navigation .container button{
        font-size: 16px;
    }
}
@media screen and (max-width: 340px){
    .info__about{
        font-size: 11px;
    }
    .info-block__about{
        margin: 0 5px;
    }
    .info-block__about:nth-child(1){
        min-width: 70px;
        margin: 0 5px;
    }
    .btn{
        font-size: 12px;
        min-width: 110px;
        height: 50px;
    }
    .text__footer{
        font-size: 9px;
    }
    .footer{
        height: 40px;
    }
}